
body {
    background-color: rgb(173, 44, 44);
    font-family: fantasy;
}

nav {
    margin: 0 auto ;
    width: fit-content;
}

#title {
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 4px;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 90, 0);
    border: 15px solid rgb(17, 17, 17);
    border-radius: 5px;
    padding: 50px;
    margin: 100px;
}

.About {
    background-color: white;
    text-align:center;
    font-size: large;
    border: 4px solid rgb(17, 17, 17);
    padding: 25px;
    margin: 80px;
    width: 400px;
    height: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(0, 90, 0);
    border: 5px solid rgb(226, 226, 226);
    padding: 6px 12px;
    border-radius: 6px;
    transition-duration: 0.3s;
}

.button:hover{
    background-color: rgb(226, 226, 226);
}

.button#source{
    margin: 80px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(226, 226, 226);
    border: 5px solid rgb(17, 17, 17);
    padding: 6px 12px;
    border-radius: 6px;
    transition-duration: 0.3s;
}

.button#source:hover{
    background-color: rgb(17, 17, 17);
    color: rgb(226, 226, 226);
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover a {
  color: rgb(17, 17, 17);
}

.button#source a {
  color: black;
}

.button#source:hover a {
  color: rgb(226, 226, 226);
}