
body {
    background-color: rgb(185, 183, 183);
    font-family: 'Times New Roman', Times, serif;
}

#title {
    background-color: rgb(224, 221, 221);
    text-align: left;
    font-size: 100px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 250px;
    width: 500px;
    letter-spacing: 6px;
}

.question {
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.answer {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 2px;
}

.button {

}